<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAnMFGAE7oRVqBUum_pVtFwZU8EYjltqHY</string>
	<key>GCM_SENDER_ID</key>
	<string>886401849792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>khawaja.Race360</string>
	<key>PROJECT_ID</key>
	<string>race360-f13e2</string>
	<key>STORAGE_BUCKET</key>
	<string>race360-f13e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886401849792:ios:388d1c462645278b349025</string>
</dict>
</plist>